/compile_commands.json
/third_party/include/
/third_party/lib/
/third_party/raylib-5.5.tar.gz
/objdir/
/mpd_info_screen2
/.cache/
/unittest
/build*
/third_party/raylib-5.5/
/third_party/raylib_BUILD/
/third_party/expat-2.7.4.tar.gz
/third_party/fontconfig-2.17.1.tar.gz
/third_party/freetype-2.14.1.tar.gz
/third_party/zlib-1.3.1.tar.gz
/third_party/gzip-1.14.tar.gz
/third_party/bzip2-bzip2-1.0.8.tar.gz
/third_party/brotli-1.2.0.tar.gz
/third_party/libpng-1.6.55.tar.gz
/third_party/harfbuzz-12.3.2.tar.gz
/third_party/glfw-3.4.tar.gz
/third_party/libXau-1.0.12.tar.xz
/third_party/libXcursor-1.2.3.tar.xz
/third_party/libXext-1.3.7.tar.xz
/third_party/libXfixes-6.0.2.tar.xz
/third_party/libXi-1.8.2.tar.xz
/third_party/libXinerama-1.1.6.tar.xz
/third_party/libXrandr-1.5.5.tar.xz
/third_party/libXrender-0.9.12.tar.xz
/third_party/libx11-1.8.13.tar.gz
/third_party/libxcb-1.17.0.tar.xz
/third_party/wayland-1.24.0.tar.xz
/third_party/wayland-protocols-1.47.tar.xz
/third_party/xcb-proto-1.17.0.tar.xz
/third_party/xkbcommon-1.13.1.tar.gz
/third_party/xorg-util-macros-1.20.2.tar.xz
/third_party/xorgproto-2025.1.tar.xz
/third_party/xtrans-1.6.0.tar.xz
/third_party/libffi-3.5.2.tar.gz
/third_party/libxml2-2.15.1.tar.gz
